/* About.css */

.about-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 80vh; /* Ensure it covers the full viewport height */
    margin: auto;;
  }
  
  .img1 {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .img1a, .img2a {
    width: 50px;
    height: 50px;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .img1a, .img2a {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .img1a, .img2a {
      width: 30px;
      height: 30px;
    }
    .about-background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 60%;
        height: 80vh; /* Ensure it covers the full viewport height */
        margin: auto;
        padding: 10px;
      }
  }
  